:root {
  --primary-color: #5c95a1;
  --primary-darker: #0e4d5a;

  --font-primary: "Open Sans";
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
body {
  background: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}
.container {
  max-width: 720px;
  margin: 50px auto;
  padding: 20px;
  background: #ffff;
  border-radius: 10px;
}
form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}
form input:focus {
  outline: 1px solid var(--primary-color);
}
form button {
  border: none;
  background-color: var(--primary-color);
  color: #ffff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}
form button:hover {
  background: var(--primary-darker);
}

/* alterações pós modelo */
.descricao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tabela {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tabela__lista-item {
  list-style: none;
}
.calculo__titulo {
  margin-top: 20px;
  margin-bottom: 10px;
}
